.diva{
    background-color: #C8B9A5;
    height:80px
}
.title{
    margin-left: 20px;
    /* margin-top: 20px; */
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 300;
    
    
}
.carousel-item{
    color: black;
    background-color: antiquewhite;
    padding-top: 20px;
}
.carousel-item img{
        width: 700px;
        height: 400px;
        max-height: 400px;
        margin: auto; 
        display: block;
}
.search{
    display: flex;
    justify-content: flex-end;
}
.justify-content-end {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
    margin-top: 10px;
    padding-top: 10px;
  }
  